[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dropbox = "==11.25.0"
jsonschema = "==4.2.1"
numpy = "==1.21.4"
requests = "==2.26.0"
scipy = "==1.7.3"

[dev-packages]
pytest
pylint
black
