[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dropbox = "*"
jsonschema = "*"
numpy = "*"
requests = "*"
scipy = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
