attrs==21.2.0
autopage==0.4.0
black==21.12b0
certifi==2021.10.8
click==8.0.3
cliff==3.10.0
cmd2==2.3.3
extras==1.0.0
fixtures==3.0.0
future==0.18.2
mypy-extensions==0.4.3
numpy==1.21.4
pathspec==0.9.0
pbr==5.8.0
platformdirs==2.4.0
prettytable==2.4.0
pyparsing==3.0.6
pyperclip==1.8.2
python-subunit==1.4.0
PyYAML==6.0
six==1.16.0
stestr==3.2.1
stevedore==3.5.0
testtools==2.5.0
tomli==1.2.2
typing_extensions==4.0.1
voluptuous==0.12.2
wcwidth==0.2.5
