attrs==21.2.0
autopage==0.4.0
certifi==2021.10.8
cliff==3.10.0
cmd2==2.3.3
extras==1.0.0
fixtures==3.0.0
future==0.18.2
numpy==1.21.4
pbr==5.8.0
prettytable==2.4.0
pyparsing==3.0.6
pyperclip==1.8.2
python-subunit==1.4.0
PyYAML==6.0
six==1.16.0
stestr==3.2.1
stevedore==3.5.0
testtools==2.5.0
voluptuous==0.12.2
wcwidth==0.2.5
